
server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ecopay
    username: root
    password:
    hikari:
      maximum-pool-size: 1
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        show-sql: true
    hibernate:
      ddl-auto: update
  output:
    ansi:
      enabled: always

springdoc:
  swagger-ui:
    enabled: true
  api-docs:
    enabled: true
    swagger-ui:
      path: /swagger-ui.html

email:
  host: smtp.gmail.com
  port: 587
  username: nocountryc1529@gmail.com
  password: yogbzwcgpgvgxrce
  properties:
    mail:
      smtp:
        starttls:
          enable: true
